* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

body { background: #999999; }

.container {
  width: 80%;
  margin: auto;
  top: 50px;
  position: relative;
}

.flexnav {
  list-style: none;
  margin: 0;
  font-family: Lato, Helvetica, sans-serif;
  line-height: 1;
  background: #2b2f3a;
  padding: 0;
  display: block;
  overflow: visible;
  width: 100%;
  ul {
    list-style: none;
    margin: 0;
    position: absolute;
    left: 0;
    padding: 0;
    ul {
      left: 244px;
      top: -1px;
    }
    li {
      display: block;
      position: relative;
      padding: 0;
      margin: 0;
      border-top: 1px solid #31353f;
      a {
	background: #2b2f3a;
	padding: 12px 22px;
	display: block;
	width: 200px;
	text-decoration: none;
      }
    }
    .touch-button {
      width: 40px;
      height: 40px;
      border-left: 1px solid #31353f;
      &::after {
	top: 8px;
	right: 8px;
	width: 22px;
	height: 22px;
      }
      &::before {
	right: 17px;
	top: 16px;
	height: 7px;
	width: 7px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
      }
    }
  }
  >li {
    >a {
      padding: 18px 22px;
      font-size: 18px;
      text-transform: uppercase;
      display: block;
      font-weight: 300;
      text-decoration: none;
    }
    float: right;
    display: block;
    position: relative;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li {
    a {
      color: #a3adb7;
      -webkit-transition: color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out;
      -ms-transition: color 0.2s ease-out;
      -o-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out;
      &:hover {
	color: #fff;
      }
    }
    &:hover {
      >.touch-button {
	&::before {
	  border-bottom-color: #fff;
	  border-left-color: #fff;
	}
	&::after {
	  border-color: #fff;
	}
      }
    }
  }
  >.item-with-ul {
    >a {
      padding-right: 66px;
    }
  }
}
